@CHARSET "UTF-8";
.detail_top{background: #e23c3d;color:#fff;margin-top: 2px;}
.top_tags{width: 840px;margin:0 auto;line-height: 40px;height: 40px;}
.top_tag{width: 120px;float: left;text-align: center;font-size: 15px;cursor: pointer;}
.tag_checked{background-color: #fff;color: #df2003}

.detail_info{width: 1200px;margin: 0 auto;min-height: 600px;}
.detail_info img{width: 100%}
/*商品评价*/
.apprtime{color: #999;display: inline-block;margin:5px 0;}
.appraise-head{
  width:100%;
  height:80px;
  display:flex;
  margin: 10px auto;
}
.appraise-head .text{
  font-size: 12px;
  color: #666;
  font-weight: 400;
}
.percent{
    line-height: 110%;
    font-size: 45px;
    color: #E4393C;
    font-family: arial;
}
.percent i{
  font-size: 45px;
}
.percent span {
    font-size: 23px;
}
.app-head-l{
  flex:1;
}
.app-head-lbox{
  padding: 4px 10px 0 80px;
}
.app-head-r{
  flex:5;
}
.app-head-rbox{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.app-hr-item{
  flex:1;
}
.percentbox{
  border:1px solid #E4393C;
  float:left;
  width:60%;
  height: 14px;
  margin-top: 2px;
  margin-left: 10px;
}
.percentbg{
  height:100%;background:#E4393C;
}
.app-hr-text{float:left}

.appr-filter{
  width:100%;
  height:30px;
  border: 1px solid #f5f5f5;
  background-color: #fafafa;
  padding-left: 10px;
}
.appr-filterbox{
  width: 100%;
  height: 100%;
}
.appr-filterbox li{
  float: left;
  padding:5px 10px;
}
.appr-filterbox li .curr{
    background: #fafafa;
    color: #e4393c;
}
i{
  font-style: normal;
}
.apprimg{
  width:25px !important;
  height:25px;
  border-radius:50%;
  float:left
}
.appr-star,.appr-star-off{
  background-image:url(./../img/star.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-right: 2px;
  float: left;
}
.appr-star-off{
  background-position: -80px 0px;
}
.userinfo{width: 100%;height: 26px;}
.appraises-box{
  border-bottom:1px solid #eee;
  margin:5px 0;
  padding:0 5px;
}
.wst-appraises-left{
  width:84%;height:100%;float:left;
}
.app-content{
  margin:10px 0;
}
.wst-appraises-right{
  width:150px;height:100%;float:left;
}
.goods-spec-box{
  width: 100%;
  height: 100%;
}
.appraiser{
  height:100%;float:left;padding-left: 5px;
}
.reply-content{
  line-height:15px;
  width:80%;
  border-top:1px solid #eee;
  padding-top:10px;
  color:orange;
  float:left;
  margin-bottom: 10px;
}
.reply-time{
  padding-top:10px;
  float:left;
  color: #999;
}
.reply-content>a{
  color:orange;
}
.reply-box{
  width:100%;
  max-height:110px;
  position:relative;
  margin-bottom:5px;
}
.goods-desc-box img{display: block;}