<style type="text/css">
	#bottom{position: fixed;bottom: 0;left: 0;background-color: #fff;border-top: 2px solid #ccc;height: 80px;width: 100%;z-index: 999}
	.btm_link{display: inline-block;width: 19%;text-align: center;}
	.btm_link_icon{font-size: 35px;color: #444;line-height: 50px;}
	.btm_link_title{font-size: 22px;color: #444}
</style>

<div id="bottom">
	<a class="btm_link btm_link_1" href="{:url('index/index')}">
		<div class="btm_link_icon"><i class="fa fa-home"></i></div>
		<div class="btm_link_title">首页</div>
	</a>
	<a class="btm_link btm_link_2" href="{:url('index/classify')}">
		<div class="btm_link_icon"><i class="fa fa-list-ul"></i></div>
		<div class="btm_link_title">分类</div>
	</a>
	<a class="btm_link btm_link_3" href="{:url('carts/index')}">
		<div class="btm_link_icon"><i class="fa fa-opencart"></i></div>
		<div class="btm_link_title">购物车</div>
	</a>

	<!-- <a class="btm_link btm_link_4" href="{:url('index/ergion')}">
	<div class="btm_link_icon"><i class="fa fa-heart-o"></i></div>
	<div class="btm_link_title">区域</div>
	</a> -->
	<a class="btm_link btm_link_4" href="{:url('favorites/goods')}">
		<div class="btm_link_icon"><i class="fa fa-heart-o"></i></div>
		<div class="btm_link_title">区域</div>
	</a>
	<a class="btm_link btm_link_5" href="{:url('users/index')}">
		<div class="btm_link_icon"><i class="fa fa-user-circle"></i></div>
		<div class="btm_link_title">我的</div>
	</a>
</div>
<!-- <div id="bottom">
	<a class="btm_link btm_link_1" href="{:url('index/index')}">
		<div class="btm_link_icon"><i class="fa fa-home"></i></div>
		<div class="btm_link_title">首页</div>
	</a>
	<a class="btm_link btm_link_2" href="{:url('index/classify')}">
		<div class="btm_link_icon"><i class="fa fa-list-ul"></i></div>
		<div class="btm_link_title">分类</div>
	</a>
	<a class="btm_link btm_link_3" href="{:url('carts/index')}">
		<div class="btm_link_icon"><i class="fa fa-opencart"></i></div>
		<div class="btm_link_title">购物车</div>
	</a>
	<a class="btm_link btm_link_4" href="{:url('favorites/goods')}">
		<div class="btm_link_icon"><i class="fa fa-heart-o"></i></div>
		<div class="btm_link_title">关注</div>
	</a>
	<a class="btm_link btm_link_5" href="{:url('users/index')}">
		<div class="btm_link_icon"><i class="fa fa-user-circle"></i></div>
		<div class="btm_link_title">我的</div>
	</a>
</div> -->